body {
  font-family: Tahoma, sans-serif;
  background: #f9f9f9;
  margin: 0;
  direction: rtl;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}